font-family: 'Karla', sans-serif;
font-family: 'Merriweather', serif;

/* Body */

body {
    color: #333333 ;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    width: 100%;
}

p {
    color: #333333 ;
    font-family: 'Merriweather', serif;
    font-weight: 400;	
    margin-left: 100px;
    padding-right: 100px;
    padding-top: 20px; 
    text-align: justify;
}

.home {
    
    min-height: calc(80vh - 50px);
}

@media screen and  (max-width : 576px) { p {
    font-size: 0.7em;
}
}


/* Barra de Navegación */


nav {
    background-color: #822E81;
    width: 100%; 

}


 ul {

    list-style-type: none;
    margin: 05px;
    padding: 5px;
    overflow: hidden;
 
        
    
       }


li {
        float: left;
        
      }




nav ul li{
    list-style-type: none;
    
    margin: 10px; 
    padding: 10px;
  
}


nav ul li {
    color:#ffffff; 
    text-decoration: none;

}

/*color opciones nav*/
nav ul li a{
    color:#ffffff; 
    
}

/* nav ul li img { width: 160px; weight: 100px;
 
  
} */

li a:hover {
    background-color: #ffffff;
    color: #822E81;
    padding: 10px;
}
 
@media screen and  (max-width : 576px) { nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    size: 100%;
}
}

@media screen and  (max-width : 576px) { nav ul a {
    font-size: 0.7em;
         
      
    }
}


/* Form */

/*agregado para emprolijar form*/
form {width: 100vw;}

fieldset {
    display: block;
    background-color: hsl(290, 40%, 89%);
    color: #155C48;
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-block-start: 1em;
    padding-inline-start: 7em;
    padding-inline-end: 7em;
    padding-block-end: 0.35em;
    padding-bottom: 20px;
    min-inline-size: min-content;
    border: none;
}

input{
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    font-weight: 600;

}

input[type="submit" i] {
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color:#155C48;
    color:#ffffff;
    padding: 3px 10px;
    border: none;
    text-transform: uppercase;	
    
}


/* Textos */

h1 {
    font-family: 'Karla', sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #155C48;
    margin-left: 50px;
}
 
h2 {
    font-family: 'Karla', sans-serif;
    font-size: 28px;
    font-weight: 600 ;
    color: #155C48;
    margin-left: 50px;
	
}
 
h3 {
	font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-weight: 600 ;
    color: #155C48;
    text-transform: uppercase;
    margin-left: 75px;	
}

h4 {
	font-family: 'Karla', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #155C48;
}
 
a {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 600;
	font-family: 'Karla', sans-serif;
	text-decoration: none;
    color: #155C48;
}

i {
    margin-left: 75px;
}

small {
    margin-left: 100px;
}

/* Botones */

.boton {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.boton :active
{
    background-color: #ffffff;
    color: #822E81;
    padding: 10px;
  }

.boton a {
    font-weight: 600; 
    font-size: 15px;
    font-family: 'Karla', sans-serif;; 
    color: #ffffff;
    text-transform: uppercase;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default; 
    background-color: #822E81;
    margin: 1px;
    padding:  7px 10px;
    border-width: none;
    border-style: none;
    border-color: none;
    border-image: none;  
}


/* Footer */

footer{
    margin-top: 50px;
    padding: 20px;
    background-color: #155C48;
    width: 100%;
    text-transform: uppercase;
	    font-size: 12px;
	    font-weight: 600;
	    font-family: 'Karla', sans-serif;
	    text-decoration: none;
        color: #ffffff;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
    bottom: 0;
    left:0;
    right: 0;
}

footer a { 
    text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	font-family: 'Karla', sans-serif;
	text-decoration: none;
    color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
   
   
}


@media screen and  (max-width : 576px) { footer a {  display: flex;
    justify-items: center;
    font-size: 0.7em;
}
} 

/* Video */

.video {
    width: 100vw;
    display:grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-column-gap: 100px;
    background-color:#F3ECE2;
    padding: 50px;
    min-height: calc(80vh - 50px);
}

@media screen and  (max-width : 576px) { .video {display: flex; 
    flex-direction: column ; 
    justify-items: center;
    width: 100%;

}
}

/* Servicios */

#servicios {
    width: 100vw;
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    gap: 10px;
    
}

#servicios h3 {
    margin-left: 35px;
}

#servicios p {
    margin-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}

div.servicio1, div.servicio2, div.servicio3, div.servicio4, div.servicio5, div.servicio6, div.servicio7  {
    background-color:#F3ECE2;
   
}

div.servicio4 {
    background-color:#F3ECE2;
}

div.servicio6 {
    background-color:#F3ECE2;
}

@media screen and  (max-width : 576px) { #servicios {display: flex; 
    flex-direction: column ; 
    justify-items: center;
    width: 100%;

}
}

/* Novedades */

#artículos {
    width: 100vw;
    min-height: calc(80vh - 50px);
    display:grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-column-gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}


#artículos h3 {
    margin-left: 35px;
}

#artículos i {
    margin-left: 35px;
}

#artículos p {
    margin-left: 50px;
}

#artículos small {
    margin-left: 50px;
}

div.article2 {
    background-color:#F3ECE2;
}

@media screen and  (max-width : 576px) { .artículos {display: flex; 
    flex-direction: column ; 
    justify-items: center;
    width: 100%;

}
}



/* ajuste del text area al ancho de pantalla*/

textarea {
    display : block;
    padding : 10px 10px;
    margin  : 0;
    width   : 100%;
    height  : 100%;
    border-right: 1px solid;
  
    resize  : none; 
   
  }
